<div class="emp-form">
  <div class="row">
    <div class="col-md-6 form-group">
      <!-- FirstName -->
      <input placeholder="Firts Name" class="form-control" [(ngModel)]="employeeService.currentEmployee.firstName" required>
      
    </div>
    <!-- LastName -->

    <div class="col-md-6 form-group">
      <input placeholder="Last Name" class="form-control" [(ngModel)]="employeeService.currentEmployee.lastName" required>
    </div>
  </div>
  <!-- Emp Code -->

  <div class="row">
    <div class="col-md-12 form-group">
      <input placeholder="Employee Code" class="form-control" [(ngModel)]="employeeService.currentEmployee.code" required type="number">
    </div>
  </div>

  <!-- Address -->

  <div class="row">
    <div class="col-md-6 form-group">
      <input placeholder="Address" class="form-control" [(ngModel)]="employeeService.currentEmployee.address">
    </div>
    <!-- Phone Nmbr -->
    <div class="col-md-6 form-group">
      <input placeholder="Contact Number" class="form-control" [(ngModel)]="employeeService.currentEmployee.contactNumber" required maxlength="10" minlength="5" >
    </div>
  </div>

  <!-- Buttons -->

  <div class="row">
    <!-- Save Button -->
    <div class="col-md-8">
      <button class="btn btn-success btn-lg btn-block" (click)="createEmployee(employeeService.currentEmployee)" >
        <i class="fa fa-save"></i>
        SAVE
      </button>
    </div>

    <!-- Clear Button -->

    <div class="col-md-4">
      <button class="btn btn-primary btn-lg btn-block" (click)="clearEmployee(employeeService.currentEmployee)">
        <i class="fa fa-retweet"></i>
        CLEAR
      </button>
    </div>
  </div>
</div>